:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  background-color: var(--ig-primary-300);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 24px 48px 48px;
  height: 250px;
  min-width: 50px;
  min-height: 50px;
  max-height: 250px;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_2 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-300);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  top: -64px;
  bottom: 0;
  position: relative;
  padding: 48px;
  max-width: 1024px;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_3 {
  background-color: var(--ig-gray-100);
  border-color: var(--ig-gray-500);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px;
}
.group_4 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: min-content;
  max-width: 800px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.group_6 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  max-width: 800px;
}
.group_7 {
  background-color: var(--ig-gray-200);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  padding: 8px;
  min-width: 50px;
  align-self: center;
}
.group_8 {
  border-radius: 5px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
}
.group_9 {
  border-color: var(--ig-gray-300);
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px 0;
  flex-grow: 1;
  flex-basis: 0;
}
.expansion-panel {
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.group_10 {
  background-color: var(--ig-gray-100);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px 48px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_11 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  max-width: 1024px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_12 {
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 15px;
  position: relative;
}
.group_13 {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.icon {
  --size: 48px;
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: var(--ig-primary-100);
}
.h3 {
  color: var(--ig-surface-500);
  height: max-content;
  min-width: min-content;
}
.content {
  height: max-content;
  min-width: min-content;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.h6_1 {
  width: 34px;
  height: max-content;
  min-width: min-content;
  max-width: 34px;
}
.icon_2 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-info-500);
}
.h6 {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.text {
  text-align: center;
  margin: 16px 0 0;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  margin: 16px 0 0;
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text_2 {
  color: var(--ig-gray-600);
  height: max-content;
  min-width: min-content;
}
.input {
  width: 123px;
  height: max-content;
  min-width: 100px;
  max-width: 123px;
}
.input_1 {
  width: 127px;
  height: max-content;
  min-width: 100px;
  max-width: 127px;
}
.input_2 {
  width: 200px;
  height: max-content;
  min-width: 50px;
  max-width: 200px;
  flex-shrink: 0;
}
.input_3 {
  height: max-content;
  min-width: 100px;
}
