<div class="row-layout group">
  <igx-icon class="icon">
    percent
  </igx-icon>
  <h3 class="h3">
    Percentage calculator
  </h3>
</div>
<div class="column-layout group_1">
  <div class="column-layout group_2">
    <div class="row-layout group_3">
      <div class="row-layout group_4">
        <h6 class="content">
          What's
        </h6>
        <igx-input-group type="border" class="input">
          <igx-suffix>
            <igx-icon class="icon_1">
              percent
            </igx-icon>
          </igx-suffix>
          <input type="number" [ngModel]="input1" igxInput (ngModelChange)="input1 = stringToNumber($event)" />
        </igx-input-group>
        <h6 class="content">
          of
        </h6>
        <igx-input-group type="border" class="input_1">
          <input type="number" [ngModel]="input2" igxInput (ngModelChange)="input2 = stringToNumber($event)" />
        </igx-input-group>
      </div>
      <div class="row-layout group_5">
        <igx-icon family="imx-icon" name="imx-equals" class="icon_1"></igx-icon>
        <igx-input-group type="border" class="input_2">
          <input type="number" [value]="whatIsXpercentOfY?.result?.toString() ?? ''" igxInput />
        </igx-input-group>
      </div>
    </div>
    <div class="row-layout group_3">
      <div class="row-layout group_4">
        <igx-input-group type="border" class="input_3">
          <input type="number" [ngModel]="input3" igxInput (ngModelChange)="input3 = stringToNumber($event)" />
        </igx-input-group>
        <h6 class="content">
          is what % of
        </h6>
        <igx-input-group type="border" class="input_3">
          <input type="number" [ngModel]="input4" igxInput (ngModelChange)="input4 = stringToNumber($event)" />
        </igx-input-group>
      </div>
      <div class="row-layout group_5">
        <igx-icon family="imx-icon" name="imx-equals" class="icon_1"></igx-icon>
        <igx-input-group type="border" class="input_2">
          <igx-suffix>
            <igx-icon class="icon_1">
              percent
            </igx-icon>
          </igx-suffix>
          <input type="number" [value]="xisWhatPercentOfY?.result?.toString() ?? ''" igxInput />
        </igx-input-group>
      </div>
    </div>
    <div class="row-layout group_3">
      <div class="row-layout group_6">
        <h6 class="content">
          What's the % increase/decrease from
        </h6>
        <igx-input-group type="border" class="input_3">
          <input type="number" [ngModel]="input5" igxInput (ngModelChange)="input5 = stringToNumber($event)" />
        </igx-input-group>
        <h6 class="h6_1">
          to
        </h6>
        <igx-input-group type="border" class="input_3">
          <input type="number" [ngModel]="input6" igxInput (ngModelChange)="input6 = stringToNumber($event)" />
        </igx-input-group>
      </div>
      <div class="row-layout group_5">
        <igx-icon family="imx-icon" name="imx-equals" class="icon_1"></igx-icon>
        <igx-input-group type="border" class="input_2">
          <igx-suffix>
            <igx-icon class="icon_1">
              percent
            </igx-icon>
          </igx-suffix>
          <input type="number" [value]="whatIsPercentChangeFromXtoY?.result?.toString() ?? ''" igxInput />
        </igx-input-group>
      </div>
    </div>
    <div class="row-layout group_7">
      <igx-icon class="icon_2">
        info
      </igx-icon>
      <p class="ig-typography__body-2 content">
        Use tab to move to the next field. Use shift-tab to move to the previous field. Press enter to calculate.
      </p>
    </div>
    <div class="column-layout group_8">
      <div class="column-layout group_9">
        <h6 class="h6">
          FAQ
        </h6>
        <p class="text">
          This site is designed to provide efficient assistance in calculating percentages for diverse needs. Whether you're computing discounts, determining tips, or analyzing changes in value, our percentage calculator offers quick solutions.

        </p>
      </div>
      <div class="column-layout group_9">
        <h6 class="h6">
          What defines a percentage?
        </h6>
        <p class="text">
          A percentage represents a fraction of 100 and is commonly utilized to express a portion of a whole or to compare quantities. It's often symbolized by "%". For instance, if a garage houses 100 cars and 25 of them are white, we can state that 25% of the cars in the garage are white.

        </p>
      </div>
      <div class="column-layout group_9">
        <h6 class="h6">
          How to compute a percentage?
        </h6>
        <p class="text">
          Calculating a percentage typically involves dividing the part (the smaller value) by the whole (the larger value) and then multiplying the result by 100. This yields the percentage value ranging between 0 and 100. For example, if you possess 50 apples and wish to determine the percentage of red ones, with 20 being red, you would divide 20 by 50 to obtain 0.4, then multiply by 100 to get 40%.

        </p>
      </div>
      <div class="column-layout group_9">
        <h6 class="h6">
          Why are percentages significant?
        </h6>
        <p class="text">
          Percentages find application in various scenarios, from computing discounts and taxes to tracking fluctuations in stock prices and economic metrics. Grasping the fundamentals of percentages aids in making well-informed decisions across personal finance and business management realms.
        </p>
      </div>
      <igx-expansion-panel [collapsed]="false" class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text_1">
            This site is designed to provide efficient assistance in calculating percentages for diverse needs. Whether you're computing discounts, determining tips, or analyzing changes in value, our percentage calculator offers quick solutions.

          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>FAQ</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text_1">
            A percentage represents a fraction of 100 and is commonly utilized to express a portion of a whole or to compare quantities. It's often symbolized by "%". For instance, if a garage houses 100 cars and 25 of them are white, we can state that 25% of the cars in the garage are white.

          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>What defines a percentage?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text_1">
            Calculating a percentage typically involves dividing the part (the smaller value) by the whole (the larger value) and then multiplying the result by 100. This yields the percentage value ranging between 0 and 100. For example, if you possess 50 apples and wish to determine the percentage of red ones, with 20 being red, you would divide 20 by 50 to obtain 0.4, then multiply by 100 to get 40%.

          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>How to compute a percentage?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text_1">
            Percentages find application in various scenarios, from computing discounts and taxes to tracking fluctuations in stock prices and economic metrics. Grasping the fundamentals of percentages aids in making well-informed decisions across personal finance and business management realms.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Why are percentages significant?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
  </div>
</div>
<div class="row-layout group_10">
  <div class="row-layout group_11">
    <div class="row-layout group_12">
      <p class="ig-typography__subtitle-2 content">
        Heading
      </p>
      <a href="https://www.appbuilder.dev/privacy-policy" target="_blank" class="ig-typography__body-2 hyperlink">
        Privacy Policy
      </a>
      <a href="https://www.appbuilder.dev/cookie-policy" target="_blank" class="ig-typography__body-2 hyperlink">
        Cookies
      </a>
      <a href="https://www.appbuilder.dev/terms-of-use" target="_blank" class="ig-typography__body-2 hyperlink">
        Terms of Use
      </a>
      <a href="https://www.appbuilder.dev/license-agreement" target="_blank" class="ig-typography__body-2 hyperlink">
        License Agreement
      </a>
    </div>
    <p class="ig-typography__subtitle-2 text_2">
      © Copyright 2025 App Builder
    </p>
    <div class="row-layout group_13">
      <p class="ig-typography__body-2 content">
        Built with
      </p>
      <p class="ig-typography__body-2 content">
        &amp;
      </p>
      <a href="https://www.infragistics.com/products/ignite-ui-angular" target="_blank" class="ig-typography__body-2 hyperlink">
        Ignite UI
      </a>
      <a href="https://www.appbuilder.dev" target="_blank" class="ig-typography__body-2 hyperlink">
        App Builder
      </a>
    </div>
  </div>
</div>
